@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,800;0,1000;1,200;1,600;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* APPLIES */
.separator {
    @apply my-14;
}

h1 {
    @apply text-5xl;
}


.input-light {
    @apply input w-full max-w-xs w-full max-w-full py-7 rounded-none;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, .15);
    font-size: 18px;
}

.input-dark {
    @apply input w-full max-w-xs;
    font-size: 18px;
}

b {
    font-weight: 700;
}

/* IMPORTANTS */
.menu {
    color: white;
}

.nav-active {
    font-weight: 800;
}

.caja:hover {
    box-shadow: 6px 2px 10px black;
}

.bolder {
    font-weight: 800;
}

.h-100-vh {
    height: calc(100vh - 4rem);
}

.fs-xl {
    font-size: 45px;
}

.fs-l {
    font-size: 35px;
}

.fs-m {
    font-size: 18px;
}

.fs-s {
    font-size: 16px;
}

/* LOGIN */
.btn-login-others {
    border: none;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, .15);
}

.btn-login-others:hover {
    background-color: currentColor;
    outline: 2px solid hsla(var(--bc) / 0.2);
    outline-offset: 2px;
}

.btn-login-github {
    background-color: #1B1F23;
}

.btn-login-github:hover {
    background-color: #1B1F23;
}