@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,800;0,1000;1,200;1,600;1,1000&display=swap');
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    @apply text-slate-900 dark:text-slate-400;
}

* {
    font-family: 'Mulish';
}
*::-webkit-scrollbar {
    @apply w-0 sm:w-2;
}
*::-webkit-scrollbar-thumb {
    @apply bg-clip-padding border-[2px] border-solid bg-gray-400 border-transparent dark:bg-slate-900;
    border-right: none;
}
#scrollbarx::-webkit-scrollbar {
    @apply h-0 sm:h-[.6rem];
}
#scrollbarx::-webkit-scrollbar-thumb {
    @apply bg-clip-padding border-[.2px] border-solid bg-gray-400 border-transparent dark:bg-slate-900;
    border-right: none;
}

html, body {
    height: 100%;
    @apply !bg-white dark:!bg-slate-800;
}

/* Home */
.separator {
    @apply w-full h-[120px];
}
.swiper {
    @apply w-full h-full;
}
.swiper-slide {
    @apply text-center text-[18px] bg-white flex justify-center items-center;
}
.swiper-slide img {
    @apply block w-full h-full object-cover;
}
.swiper-button-next,
.swiper-button-prev {
    @apply absolute top-[47%] translate-y-1/2 w-[40px] h-[40px] bg-black/50 text-white rounded-[50%] text-[24px] flex items-center justify-center cursor-pointer;
    transition: background-color 0.3s;
}
.swiper-button-next {
    @apply -right-20;
}
.swiper-button-prev {
    @apply -left-20;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    @apply bg-black/70;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    @apply absolute top-1/2 w-[10px] h-[10px];
    content: "";
    transform: translate(-50%, -50%);
    border-top: 2px solid white;
    border-right: 2px solid white;
    transition: transform 0.3s;
}
.swiper-button-next::after {
    transform: translate(-22%, -50%) rotate(45deg);
}
.swiper-button-prev::after {
    transform: translate(22%, -50%) rotate(-135deg);
}
.swiper-pagination {
    @apply !-bottom-12;
}
.swiper-pagination-bullet {
    @apply bg-black dark:bg-white w-3 aspect-square h-[unset];
}
.progressVideo::-webkit-progress-value {
    @apply bg-gray-400 dark:bg-slate-900;
    border-radius: var(--rounded-box, 1rem);
}
.progressVideo::-moz-progress-bar{
    @apply bg-gray-400 dark:bg-slate-900;
}
.progressVideo {
    @apply left-[unset];
}
.progressVideo::-webkit-progress-value {
    transition: width 0.5s ease;
}
.progressVideo::-moz-progress-bar{
    transition: width 0.5s ease;
}

/* Bolders */
b {
    @apply text-black dark:text-white; 
}

/* Tooltip */
.tooltip {
    z-index: 999999999999;
}
.tooltip::before {
    @apply text-white bg-black p-2 px-4;
    z-index: 999999999999;
}

/* Buttons */
.btn.btn-primary {
    @apply 
    /* Common */ px-12 capitalize rounded-none transition-all text-white border-none text-base
    /* Light */ bg-slate-800 hover:bg-slate-900
    /* Dark */ dark:bg-slate-600/50 dark:hover:bg-slate-500/50;
}
.btn.btn-secondary {
    @apply 
    /* Common */ px-12 capitalize rounded-none transition-all text-white border-none text-base
    /* Light */ bg-slate-700 hover:bg-slate-800
    /* Dark */ dark:bg-slate-600 dark:hover:bg-slate-500/50;
}
.btn.btn-third {
    @apply 
    /* Common */ px-12 capitalize rounded-none transition-all text-black dark:text-white border-none text-base
    /* Light */ bg-gray-300 hover:bg-gray-400
    /* Dark */ dark:bg-slate-600 dark:hover:bg-slate-500/50;
}
.btn.btn-special {
    @apply 
    /* Common */ px-12 capitalize rounded-none transition-all text-white border-none text-base
    /* Light */ bg-blue-600 hover:bg-blue-700;
}

/* Inputs */
.input {
    @apply rounded-none text-base border-slate-700/40 focus:outline-none dark:border-slate-700;
}
textarea {
    @apply pt-3;
}

/* Or login */
.divider::before {
    @apply bg-slate-700
}
.divider::after {
    @apply bg-slate-700
}

/* Tailwind not working */
.col-start-1 {
    grid-column-start: 1;
}
.col-start-2 {
    grid-column-start: 2;
}
.col-start-3 {
    grid-column-start: 3;
}
.col-start-4 {
    grid-column-start: 4;
}
.col-start-5 {
    grid-column-start: 5;
}
.col-start-6 {
    grid-column-start: 6;
}
.col-start-7 {
    grid-column-start: 7;
}
.tooltip-right:before {
    transform: translateY(-50%);
    top: 50%;
    left: 145%;
    right: auto;
    bottom: auto;
}
.tooltip-right:after {
    transform: rotate(90deg);
    border-color: var(--tooltip-color) transparent transparent transparent;
    top: 36%;
    left: auto;
    right: -45%;
    bottom: var(--tooltip-tail-offset);
}
.tooltip-left:before {
    transform: translateY(-50%);
    top: 50%;
    left: auto;
    right: 145%;
    bottom: auto;
}
.tooltip-left:after {
    transform: rotate(270deg);
    border-color: var(--tooltip-color) transparent transparent transparent;
    top: 36%;
    left: -45%;
    right: auto;
    bottom: var(--tooltip-tail-offset);
}

/* Achievements */
.achievementsLevel {
    @apply flex flex-col justify-center items-center gap-2 rounded-full w-full aspect-square;
    border-width: .9em;
}
.progressAchievement::-webkit-progress-value {
    @apply bg-slate-600;
    border-radius: var(--rounded-box, 1rem);
}
.progressAchievement::-moz-progress-bar{
    @apply bg-slate-600;
}
.progressAchievement {
    @apply left-[unset];
}

progress {
    left: calc(50% - 112px);
}

/* Friends */
.sendico::before {
    @apply inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.sendico::after {
    font-family: "Font Awesome 6 Free"; font-weight: 900; content: "\e20a";
}

/* Scrollbar */
#scrollbar {
    @apply overflow-y-auto;
}

/* Projects & Apps */
.selectElement {
    @apply flex flex-col gap-3;
}
.selectElement > div > div {
    @apply cursor-pointer transition-all select-none;
}
.selectElement > div > div:hover {
    @apply bg-gray-200 dark:bg-slate-900;
}
.selectedElement > div {
    @apply bg-gray-200 dark:bg-slate-900;
}
.rotate-35 {
    --tw-rotate: 35deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Alert */
.Toastify__toast {
    @apply bg-white dark:bg-slate-900;
}
.Toastify__toast-body {
    @apply text-base text-black dark:text-white;
}
.Toastify__close-button {
    @apply text-base text-black dark:text-white;
}

/* Modal */
.modal {
    @apply bg-black/0;
}
.modalcontainer {
    pointer-events: all !important;
}
.modal-box {
    @apply min-w-fit w-[62%] max-w-[80%] p-0 text-black dark:text-white rounded-xl;
}
.ReactModal__Content {
    @apply !modal;
}
.ReactModal__Overlay {
    @apply !bg-black/50 flex !items-center !justify-center !pointer-events-none;
    z-index: 9999999999999999999999999999999999999999999;
}
.ReactModal__Content--after-open {
    @apply !visible !opacity-100;
}
.ReactModal__Content--after-open .modal {
    @apply !visible !opacity-100;
}
.min-h-28 {
    min-height: 7rem;
}

/* Breadcrumbs */
.breadcrumbs {
    @apply py-0 text-black dark:text-white mb-4 overflow-hidden ml-2 w-full;
}
.breadcrumbs > ul > li + *:before, .breadcrumbs > ol > li + *:before {
    @apply !text-black dark:!text-white opacity-100;
}
.breadcrumbs > ul > li + *:before, .breadcrumbs > ol > li + *:before {
    content: "";
    margin-left: -0.1rem;
    margin-right: .85rem;
    display: block;
    height: 0.375rem;
    width: 0.375rem;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0.4;
    border-top: 1px solid;
    border-right: 1px solid;
    background-color: transparent;
}

/* Board */
.board:hover div {
    @apply bg-black/50 dark:bg-black/50;
}
.newBoard:hover div {
    @apply bg-gray-400 dark:bg-black/50;
}
.task:hover > div {
    @apply flex;
}

/* Timeline */
._35nLX {
    @apply fill-gray-200 dark:fill-slate-700 h-[40px];
}
._1nBOt {
    @apply bg-gray-200 dark:bg-slate-700 !h-[50px];
}
._1nBOt ._2eZzQ {
    @apply mx-0 hidden;
}
._9w8d5 {
    @apply fill-black dark:fill-white;
}
._WuQ0f {
    @apply text-black dark:text-white;
}
._WuQ0f:first-child {
    @apply pl-[12px];
}
._2dZTy {
    @apply fill-white dark:fill-slate-800;
}
._3lLk3 {
    @apply text-black dark:text-white;
}
._34SS0:nth-of-type(odd), ._2dZTy:nth-child(even) {
    @apply bg-white dark:bg-slate-800 fill-gray-200 dark:fill-slate-700;
}
._34SS0:nth-of-type(even) {
    @apply bg-gray-200 dark:bg-slate-700;
}
._3ZbQT, ._3_ygE {
    @apply border-none;
}
._RuwuK, ._3rUKi, ._35nLX {
    @apply stroke-none;
}
._CZjuD > svg {
    @apply -translate-y-[2.2px];
}
._31ERP {
    @apply fill-gray-300 dark:fill-slate-500 text-black;
}
._KxSXS > g > rect:last-child {
    @apply fill-green-400/70;
}
._3KcaM {
    @apply fill-black dark:fill-white font-normal;
}
._3zRJQ {
    @apply fill-black dark:fill-white font-normal;
}
._nI1Xw > div:not(:first-child) {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis max-w-[111px];
}
.calendar text {
    @apply -translate-y-2;
}
.today rect {
    @apply fill-yellow-200/40;
}
.calendarTop {
    @apply hidden;
}

/* Zebra Table */
:where(.table *:first-child) :where(*:first-child) :where(th, td):first-child {
    @apply !rounded-tl-none;
}
:where(.table *:first-child) :where(*:first-child) :where(th, td):last-child {
    @apply !rounded-tr-none;
}
.table :where(thead, tfoot) :where(th, td) {
    @apply !bg-gray-200 dark:!bg-slate-900/[.85];
}
.table-zebra tbody tr:nth-child(odd) th,
      .table-zebra tbody tr:nth-child(odd) td {
    @apply !bg-white dark:!bg-slate-800;
}
.table-zebra tbody tr:nth-child(even) th,
      .table-zebra tbody tr:nth-child(even) td {
    @apply !bg-gray-200 dark:!bg-slate-900/[.85];
}
.table-zebra {
    @apply block w-full flex-1;
}
.table-zebra thead {
    @apply block w-full;
}
.table-zebra tbody {
    @apply block w-full overflow-auto absolute min-[1640px]:top-[3em] bottom-0 left-0 right-0 rounded-b-xl max-[1639px]:relative max-[1639px]:max-h-[200px];
}
.table-zebra thead tr, .table-zebra tbody tr {
    @apply w-full table-fixed;
    display: table;
}

/* Link underline */
.custom-border {
    @apply w-fit relative cursor-pointer leading-none text-[#3060c5] flex items-center gap-2.5;
}
.custom-border::after {
    @apply absolute left-0 -bottom-1 w-0 h-[2px] bg-[#3060c5];
    content: "";
    transition: width .1s ease-in-out;

}
.custom-border:hover::after {
    @apply w-[calc(100%+3px)] ml-[-0.2px];
}

/* Sidebar */
@media (min-width: 1024px) {
    .drawer-mobile {
        grid-auto-columns: unset;
    }
    .drawer-mobile > .drawer-toggle ~ .drawer-content {
        grid-column-start: 1;
    }
    .drawer-mobile > .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
        --tw-translate-x: -100%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}
@media (min-width: 1085px) {
    .drawer-mobile {
        grid-auto-columns: max-content auto;
    }
    .drawer-mobile > .drawer-toggle ~ .drawer-content {
        grid-column-start: 2;
    }
    .drawer-mobile > .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}
@media (max-width: 768px) {
    .text-2xl {
        @apply text-[1.8rem];
    }
}